{% load static %}
<footer id="footer">
    <div class="footer-container">
        <div class="footer-content">
            <p>&copy; 2024 申浩 . All rights reserved.</p>
            <p>版权所有 © 2024 商丘工学院 软件工程。保留所有权利。</p>
        </div>
        <div class="footer-links">
            <a href="https://github.com/Missyourcat"><img alt="github" src="{% static 'img/github_logo.png' %}"></a>
            <a href="https://blog.csdn.net/m0_74449629?type=blog"><img alt="CSDN" src="{% static 'img/csdn_logo.png' %}"></a>
            <a href="https://www.sqgxy.edu.cn/"><img alt="sqgxy" src="{% static 'img/sqgxy_logo.png' %}"></a>
        </div>
    </div>
</footer>
